@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "./rest";
@import "./animations";

* {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
}

.fullscreen {
  min-width: 100%;
  min-height: 100vh;
}

.icon {
  width: 24px;
  height: 24px;
}

.text-input {
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
